h1 {
  font-style: oblique;
  font-family: monospace;
  font-size: 55px;
  color: indigo

}

.a1 {
  font-style: italic;
  color: green;
  font-family: 'Caveat', cursive;
  font-size: 20pt
}

.a2 {
  font-family: 'Kadwa', serif;
  font-size: 15pt;


}

.a3{
  font-family: sans-serif;
  color: red;

}

div.h3{
  font-family: sans-serif;
  color: orange;

}

#light {
  background-color: gray;
  color: black;
}

#dark {
  background-color: black;
  color: gray;
}

.dark-background {
  background-color: black;
  color: gray;
}

.light-background {
  background-color: gray;
  color: black;
}
.highlight{
  background-color: yellow;
  border-style: solid;
  border-width: thin;
  border-color: black;
}
